.about-us-img{
    width: 80%;
    height: 80%;
}
.about-us-title{
    font-size: 300%;
    margin-right: 40%;
}
.vision-title{
    font-size: 300%;
    margin-left: 40%;
}
.about-us-message{
    font-size: 120%;
}