.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background: linear-gradient(to bottom, var(--untels-blue-2) 90%, transparent 100%);
}

.timeline-dot {
  position: absolute;
  left: -7.8px;
  width: 20px;
  height: 20px;
  background: var(--untels-blue-2);
  border-radius: 50%;
}

.value-icon {
  width: 40px;
  height: 40px;
}
