.border-end {
    border-right: 2px solid #cccccc; /* Cambia el color según el diseño */
}

.announcements-container{
    background-color: var(--primary-light);
    padding-left: 4%;
    padding-right: 3%;

}

.vertical-bar {
    width: 3px;
    background-color: #cccccc;
    height: 100%;
}

.background-schedule{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.agenda{
    background-color: var(--on-primary-color);
    padding: 2% 20%;
    border-radius: 10px;
    font-weight: bold;
}
.news{
    color: var(--untels-mustard);
    font-size: 250%;
    font-weight: bold;
    text-align: left;
    margin-left: 4%;
    margin-top: 10%;
}

.communications-background{
    background-color: var(--on-primary-color);
    margin: 10% 0%;
    border-radius: 10px;
}
.communications-title{
    text-align: center;
    font-weight: bold;
    padding-top: 2%;
}

.see-more-row{
    padding-top: auto;
    margin: 4% 0%;
}
.more-news-row{
    display: flex;
    justify-content: space-between;
}
.see-more{
    color: var(--untels-mustard);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 100%;
}
.news-car{
    margin-bottom: 2%;
}
.more-news-row{
    margin-bottom: 4%;
}
.link{
    color: var(--untels-mustard);
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    text-transform: uppercase;
}

