.carousel {
  width: 100%;
  margin: 0 auto;
}

.carouselIMG {
  width: 100%;
  aspect-ratio: 3/1;
}

.carousel-indicators button {
  width: 0.8rem !important;
  height: 0.8rem !important;
  border-radius: 50% !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  margin-left: 10px !important;
  background-color: var(--untels-white) !important;
}
