.main-dropdown .dropdown-menu {
  margin-top: 0;
  border-width: 0;
  font-size: 20px;
}

.main-dropdown.show .dropdown-menu {
  border: 2px solid var(--untels-gray-2);
  border-radius: 5px;
}

.main-dropdown{
  font-size: 20px;
}

.cursor-none >  a {
  cursor: default; 
}

.cursor-pointer >  a {
  cursor: pointer; 
}

.navbar {
  transition: transform 0.3s ease-in-out;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar-toggler-container:focus {
  box-shadow: none !important;
}
