/* colors */
:root {
  --untels-white: #ffffff;
  --untels-white-rgb: 255, 255, 255;
  --untels-blue-1: #004e9b;
  --untels-blue-2: #0071b8;
  --untels-yellow: #ffe601;
  --untels-mustard: #d39700;
  --untels-black: #1d1d1b;
  --untels-gray-1: #4a4a49;
  --untels-gray-2: #b2b2b2;
  --untels-gray-3: #d6d6d6;
}

/* theme */
:root {
  /* Colores principales */
  --primary-color: var(--untels-blue-1); /* Color principal del tema */
  --primary-light: var(--untels-blue-2); /* Variante más clara */
  --on-primary-color: var(--untels-white);
  --on-primary-accent-color: var(--untels-yellow);

  --secondary-color: var(--untels-yellow); /* Color secundario */
  --tertiary-color: var(--untels-white); /* Color terciario o neutro */

  /* Colores de fondo */
  --background-color: var(--untels-white);
  --on-background-color: var(--untels-black); /* Texto sobre fondo claro */
  --on-background-title: var(--untels-blue-1); /* Texto sobre fondo claro */
  --on-background-accent-color: var(--untels-mustard);
  --on-background-light-color: var(--untels-blue-2);
  --surface-color: var(--untels-mustard); /* Color para superficies, tarjetas */
  --on-surface-color: var(--untels-black); /* Texto sobre superficies */

  /* Colores de alertas */
  --alert-success: #28a745; /* Verde éxito */
  --alert-error: #dc3545; /* Rojo error */
  --alert-warning: var(--untels-mustard); /* Amarillo mostaza */
  --alert-info: var(--untels-blue-2); /* Azul claro */

  /* Colores interactivos */
  --hover-primary: #003b73; /* Variante más oscura del azul primario */
  --hover-secondary: #e0c400; /* Amarillo oscuro en hover */
  --active-primary: #002851; /* Color de activo */
  --focus-outline: #ffbf00; /* Amarillo enfoque */

  /* Sombras y bordes */
  --shadow-light: rgba(0, 0, 0, 0.1); /* Sombra ligera */
  --shadow-dark: rgba(0, 0, 0, 0.3); /* Sombra oscura */
  --border-color: var(--untels-gray-2); /* Bordes neutrales */
}

/* classes */

.primary {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
}

.secondary-title {
  background-color: var(--untels-yellow);
  color: var(--on-background-title);
}

.background {
  background-color: var(--background-color);
  color: var(--on-background-color);
}

.background-light {
  background-color: var(--primary-light);
}

.background-title {
  background-color: var(--background-color);
  color: var(--on-background-title);
}

.on-primary-color {
  color: var(--on-primary-color);
}

.on-primary-accent {
  color: var(--on-primary-accent-color);
}

.on-background-accent {
  color: var(--on-background-accent-color);
}

.btn-on-primary {
  background-color: var(--on-primary-accent-color);
  color: var(--untels-black);
  border: none;
  border-radius: 15px;
  transition: transform ease 0.5s;
}

.btn-on-primary:hover {
  background-color: var(--untels-mustard);
  color: var(--untels-white);
  transform: scale(1.1);
}

.btn-on-primary.mobile:hover {
  background-color: var(--untels-yellow);
  color: var(--untels-black);
  transform: none;
}

.btn-on-primary.mobile:active {
  color: var(--untels-white);
  background-color: var(--untels-mustard) !important;
}

.btn-on-primary:active {
  color: var(--untels-white);
  background-color: var(--untels-mustard) !important;
}

.badge-card {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  border-radius: 8px;
  box-shadow: var(--untels-gray-1);
}

.on-background-title {
  color: var(--on-background-light-color);
}

body {
  font-family: "Avenir", "Arial", sans-serif;
}

main {
  margin-top: 76px;
}

section {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--untels-gray-3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--untels-blue-1);
  border-radius: 3px;
}

.with-v-divider-on-background {
  border-right: 2px solid var(--on-background-accent-color);
}

.with-h-divider-primary {
  border-bottom: 2px solid var(--primary-color);
}

.with-h-divider-on-background {
  border-bottom: 2px solid var(--on-background-accent-color);
}

.with-v-divider-on-primary {
  border-right: 2px solid var(--on-primary-color);
}

.with-h-divider-on-primary {
  border-bottom: 2px solid var(--on-primary-color);
}

.with-auto-divider-on-primary {
  border-right: 2px solid var(--on-primary-color);
  border-bottom: none;
}

.with-auto-divider-primary {
  border-right: 2px solid var(--primary-color);
  border-bottom: none;
}

.with-underline {
  position: relative;
}

.with-underline::after {
  content: ""; 
  position: absolute;
  top: 120%;
  width: 150px;
  height: 6px;
  background-color: currentColor;
  left: 50%;
  transform: translateX(-50%)
}

@media (max-width: 768px) {
  .with-auto-divider-on-primary {
    border-right: none;
    border-bottom: 2px solid var(--on-primary-color);
  }
}
